<!DOCTYPE html>
<html lang="en">

<head>
  {% include "head.njk" %}
  {% block head %}{% endblock %}
</head>



    {{ content | safe }}

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  tippy('[data-tippy-content]', {
    theme: 'tf',
    animation: 'scale',
    touch: 'hold',
    inertia: true,
    arrow: true,
  });
</script>
</body>
