.link{
  color: white;
  position: absolute;
  font-size: 2em;
  right: 8px;
  bottom: -40px;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}

/* Mobile */
@media only screen and (max-width: 980px) {
    .link{
    font-size: 1.5em;
    bottom: -35px;
    }
}
