---
layout: base.njk
---
<body>

<header>
    {% include "partials/header.njk" %}
</header>

  {{ content | safe }}


<footer>
  {% include "partials/footer.njk" %}
  {% block head %}{% endblock %}
</footer>



  <script src="/js/updated-visitors.js{{ nocache }}"></script>
</body>

