---
layout: base.njk
---
<body onload="preloader()">
  <div id="loader"></div>

<div id="loaded">

<nav>
  {% include 'partials/nav.njk' %}
</nav>

<header>
    {% include "partials/header.njk" %}
</header>

  {{ content | safe }}


<footer>
  {% include "partials/footer.njk" %}
  {% block head %}{% endblock %}
</footer>


</div>
  <script src="/js/updated-visitors.js{{ nocache }}"></script>
</body>

