---
layout: base.njk
---

<body onload="preloader()">
  <div id="loader"></div>

<div id="loaded">


<header>
    <a href="/directory">
        {% include "partials/header.njk" %}
    </a>
</header>

<div class="wrap">
        <div class="tabs">
            <a onclick="openCity('bio')">Bio</a>
            <a onclick="openCity('lore')">Lore</a>
            <a onclick="openCity('gallery')">Gallery</a>
        </div>
    <main>
        <section class="plushcontent">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </section>

                <hr>
    <article class="plushtags">
        <h3>Tagged as:</h3>
        <i class="fa-solid fa-tag"></i>
        {% for tag in tags %}
            | <a href="/plush/tagged/{{ tag | slugify }}">#{{tag}}</a>
        {% endfor %}
    </article>
    <article class="pagination">
    <!-- Pagination -->
        <p>
        {% set previousPost = collections.postsAscending | getPreviousCollectionItem(page) %}
        {% set nextPost = collections.postsAscending | getNextCollectionItem(page) %}
        {% include "partials/paginate.njk" %}
        </p>
    </article>
    </main>
</div>

<footer>
  {% include "partials/footer.njk" %}
  {% block head %}{% endblock %}
</footer>

<script src="/js/city.js{{ nocache }}"></script>

<link rel="stylesheet" href="/css/glightbox.css" />

<script src="/js/glightbox.min.js"></script>
<script type="text/javascript">
    import '/js/glightbox.js';
</script>
<script>
            var lightbox = GLightbox();
            lightbox.on('open', (target) => {
                console.log('lightbox opened');
            });
            var lightboxDescription = GLightbox({
                selector: '.glightbox2'
            });
            var lightboxVideo = GLightbox({
                selector: '.glightbox3'
            });
            lightboxVideo.on('slide_changed', ({ prev, current }) => {
                console.log('Prev slide', prev);
                console.log('Current slide', current);

                const { slideIndex, slideNode, slideConfig, player } = current;

                if (player) {
                    if (!player.ready) {
                        // If player is not ready
                        player.on('ready', (event) => {
                            // Do something when video is ready
                        });
                    }

                    player.on('play', (event) => {
                        console.log('Started play');
                    });

                    player.on('volumechange', (event) => {
                        console.log('Volume change');
                    });

                    player.on('ended', (event) => {
                        console.log('Video ended');
                    });
                }
            });

            var lightboxInlineIframe = GLightbox({
                selector: '.glightbox4'
            });

            /* var exampleApi = GLightbox({ selector: null });
            exampleApi.insertSlide({
                href: 'https://picsum.photos/1200/800',
            });
            exampleApi.insertSlide({
                width: '500px',
                content: '<p>Example</p>'
            });
            exampleApi.insertSlide({
                href: 'https://www.youtube.com/watch?v=WzqrwPhXmew',
            });
            exampleApi.insertSlide({
                width: '200vw',
                content: document.getElementById('inline-example')
            });
            exampleApi.open(); */
</script>
</body>
