.welcome{
  text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.thumb{
  border: 3px dashed var(--border);
  box-shadow: 0 0 0 6px var(--bg);
  padding: 3px;
  background-color: var(--bg);
  overflow: hidden;
}

figure{
    position: relative;
    margin: 10px 15px;
}

figcaption{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #111111bd;
  color: white;
  text-align: center;
  padding: 5px 0px;
  font-size: 1em;
  text-transform: capitalize;
  border: 1px solid black;
}

figure:hover {
  transform: scale(1.15);
}

dt{
  margin: 15px;
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  border-bottom: 3px dashed var(--border);
}

dd{
  margin: 10px;
}

/* Mobile */
@media only screen and (max-width: 980px) {

  figure {
    margin: 5px 8px;
  }

}


