<head>
    <link rel="stylesheet" href="/css/nav.css{{ nocache }}" />
</head>

<body>

    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>

    <div class="sidebar">
        <header>
            <img class="navlogo" src="/img/logo.png">
        </header>

        <h2>Search by Tag</h2>

        <hr>

        <details name="tags">
            <summary>Brand</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#tag</a></li>
                </ul>
        </details>

        <details name="tags">
            <summary>Collection</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#tag</a></li>
                </ul>
        </details>

        <details name="tags">
            <summary>Breed</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#tag</a></li>
                </ul>
        </details>

        <details name="tags">
            <summary>Species</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#tag</a></li>
                </ul>
        </details>

        <details name="tags">
            <summary>Group</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#tag</a></li>
                </ul>
        </details>

        <details name="tags">
            <summary>Obtained</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#tag</a></li>
                </ul>
        </details>

        <details name="tags">
            <summary>Source</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#tag</a></li>
                </ul>
        </details>

        <details name="tags">
            <summary>Other</summary>
                <ul class="tags">
                    <li class="tags"><a class="tags" href="/plush/tagged/esc/">#emotional suppport crew</a></li>
                </ul>
        </details>

    </div>
</body>
