<div id="pagination">
    <div id="next">
        {% if nextPost %}
                <a href="{{ nextPost.url }}">← Previous</a>
        {% endif %}
    </div>

    <div id="back"><a href="/directory/">Back to main</a>
    </div>

    <div id="previous">
        {% if previousPost %}
            <a href="{{ previousPost.url }}">Next →</a>
        {% endif %}
    </div>
</div>
